// Place all the styles related to the todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// * {
//     background-color: whitesmoke;
// }

input {
    outline: none;
    border-bottom: 2px black;
    background-color: transparent;
}

.h1 {
    color: black;
}

label {
    font-size: 20px;
}

.btn_grn {
    outline: none;
    cursor: pointer;
}

.btn_red {
    cursor: not-allowed;
}
